<h4 class="alert alert-info">
	Today's Appointments:
</h4>
	<% if @appointments.blank? %>
	<p>No today's appointments found on record</p>
	<% else %>
	<table class="table table-condensed">
		<tr>
			<th>Patient</th>
			<th>Gender</th>
			<th>Age</th>
			<th>Date of Birth</th>
			<th></th>
			<th>Summary</th>
			<th></th>
		</tr>
		<% @appointments.each do | appointment |%>
		<tr>
			<td><%= appointment.patient.full_name.titleize %></td>
			<td><%= appointment.patient.gender.titleize %></td>
			<td><%= appointment.patient.age %></td>
			<td><%= appointment.patient.date_of_birth %></td>
			<td><%#= appointment.received_at %></td>
			<td><%#= appointment.lab_note %></td>
			<td><%#= link_to 'Review', edit_visit_appointment_xref_path(id: appointment.id), class: "btn btn-mini btn-info" %></td>
		</tr>
		<% end %>
	</table>
	<% end %>
