<h4>Contact Us:</h4>
<p>
   Please do not contact us until and unless its a life and death situation.
</p>
<p>
   on serious note you can contact us by <br />
   <address>
   mail:<br />
          810-1001 13th Avenue SW<br />
          Calgary, Alberta, T2R 0L5<br />
          Canada<br />
   email: <%= mail_to 'akaghzi@gmail.com' %><br />
   phone: +1(403)274-9657<br />
   </address>
</p>
