<div class="hero-unit text-center">
	<h1>
		Mind Your Health
	</h1>
	<h3> 
		Welcome,
	</h3>
	<p>Mind you health, it can not be <em>outsourced</em>.</p>
	<p>
		<% if session[:user_id].blank? %>	
		<%= link_to 'Signin', signin_url, class: "btn btn-primary" %>
		<% else %>	
		<%= link_to 'Signout', session_path(session[:user_id]), method: :delete, class: 'btn btn-danger' %>
		<% end %>
	</p>
</div>
