<span class="span6">
	<h4 class="alert alert-info">
		Immunization Information:&nbsp
		<%= link_to 'Add Record', new_immunization_path(patient_id: @patient.id), class: "btn btn-small btn-primary" %>	
		</h4>
		<% if @immunizations.blank? %>
		<p>No immunization information found on record</p>
		<% else %>		
		<table class="table table-condensed">
			<tr>
				<th>Immunization For</th>
				<th>Immunization Year</th>
				<td></td>
			</tr>		
			<% @immunizations.each do | immunization |%>
			<tr>
				<td>
					<%= immunization.vaccine.name %>
				</td>
				<td><%= immunization.immunization_year %></td>
				<td><%= link_to 'Edit', edit_immunization_path(immunization.id), :class => 'btn btn-mini btn-info' %></td>
			</tr>
			<% end %>
		</table>
		<% end %>
	</span>	
