<span class="span4">
	<h4 class="alert">Lab Tests:&nbsp
	</h4>
	<ul>
		<% @visits.each do | visit | %>
		<% visit.lab_tests.each do | lab_test | %>
		<li>
			<%= lab_test.full_name %>
		</li>
		<% end %>
		<% end %>
	</ul>
</span>