<span class="span4">
	<h4 class="alert">Lab Tests:&nbsp
	</h4>
	<% if @lab_tests.blank? %>
	<p>No lab test information found on record</p>
	<% else %>
	<ul>
		<% @lab_tests.order("created_at,received_at,reviewed_at").each do | lab_test | %>
		<li>
			<% if lab_test.reviewed_at %>
			<%= link_to lab_test.lab_test.full_name.titleize, visit_lab_test_xref_path(id: lab_test.id), class: "link" %>
			<% else %>
			<%= link_to lab_test.lab_test.full_name.titleize, edit_visit_lab_test_xref_path(id: lab_test.id), class: "link" %>
			Ordered
			<% if lab_test.created_at > Date.today+7 %>
			<i class="icon-asterisk alert-flag"></i>
			<% end %>
			<% end %>
			<% if lab_test.alert_flag %>
			<i class="icon-asterisk alert-flag"></i>
			<% end %>
		</li>
		<% end %>
	</ul>
	<% end %>
</span>