<span class="span6">
	<h4 class="alert alert-info">
		Medical History:&nbsp
		<%= link_to 'Add Record', new_medical_history_path(patient_id: @patient.id, self_or_family: 'self'), 
		class: "btn btn-small btn-primary" %>	
		</h4>
		<% if @patient.medical_histories.self_history.blank? %>
		<p>No medical history information found on record</p>
		<% end%>		
		<% @patient.medical_histories.self_history.each do | medical_history |%>
		<dl class="dl-horizontal">
			<dt>Disease/Problem:</dt>
			<dd>
				<%= medical_history.disease %>
				<%= link_to 'Edit', edit_medical_history_path(medical_history.id), :class => 'btn btn-mini btn-info' %>
			</dd>
			<dt>Diagnosis Date:</dt>
			<dd><%= medical_history.diagnosed_at %></dd>
		</dl>
		<% end %>
	</span>	