<span class="span12">
	<h4 class="alert alert-info">
		Registration Information:
	</h4>
	<% if @patient.reg_answers.blank? %>
	<p> No additional information found on record</p>
	<% end %>
	<div class="control-group">
		<% @patient.reg_answers.each do|ans| %>
		<p>
			<strong>Question: </strong><span class="control-label"><%= ans.reg_question_text.capitalize %></span><br />
			<strong>Answer:   </strong><span class="control-label"><%= ans.content  %></span>
		</p>
		<% end %>
	</div>
</span>
