
	<span class="span8">
		<h4 class="alert">Visit Information:&nbsp
		</h4>
		<table class="table table-condensed">
			<tr>
				<td>Visit Date</td>
				<td>Visit Reason</td>
				<td>Notes</td>
				<td></td>
			</tr>
<% @patient.visits.each do | visit | %>
	<tr>
		<td>
			<%= visit.visit_date.to_date %>
			
		</td>
		<td><%= visit.visit_reason.capitalize %></td>
		<td><%= visit.visit_note %></td>
		<td><%= link_to 'Edit', edit_visit_path(visit), class: "btn btn-mini btn-info" %></td>
	</tr>
<% end %>
</table>
</span>