<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gynecology_problem.name %>
</p>

<%= link_to 'Edit', edit_gynecology_problem_path(@gynecology_problem) %> |
<%= link_to 'Back', gynecology_problems_path %>
