<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @appointment_slot.name %>
</p>

<%= link_to 'Edit', edit_appointment_slot_path(@appointment_slot) %> |
<%= link_to 'Back', appointment_slots_path %>
