.alert-flag{
	color: red;
}
.success-flag{
	color: green;
}
.bluehighlight{
	background:lightblue;
}
.titlehighlight{
	background:#FFFFCC;
}
.lowercase{
	text-transform: lowercase;
}
#logo{
	font-size:2em;
	color:green;
	font-weight:bold;
}